@font-face {
  font-family: "Inter";
  src: url("https://cdn.jsdelivr.net/npm/@fontsource/inter@5.1.0/files/inter-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("https://cdn.jsdelivr.net/npm/@fontsource/inter@5.1.0/files/inter-latin-600-normal.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

:root {
  --font-family: "Inter", sans-serif;
  --primary-color: #4f46e5;
  --primary-color-light:#6366f1;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 170px;
}

.dropdown-button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 0.8125rem;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  background: var(--primary-color);
  color: #fff;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-button:hover {
  background: var(--primary-color-light);
}

.dropdown-button::after {
  content: "▼";
  font-size: 12px;
  margin-left: auto;
  transition: transform 0.3s ease;
}

.dropdown[aria-expanded="true"] .dropdown-button::after {
  transform: rotate(180deg);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 10;
  padding: 0;
  margin: 5px 0 0 0;
}

.dropdown-item {
  font-family: var(--font-family);
  font-weight: 400;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  color: var(--primary-color);
}

.dropdown-item:active {
  background-color: #e0e0e0;
}

.dropdown-menu {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
