@font-face {
  font-family: "Inter";
  src: url("https://cdn.jsdelivr.net/npm/@fontsource/inter@5.1.0/files/inter-latin-600-normal.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

:root {
  --font-family: "Inter", sans-serif;
  --primary-color: #4f46e5;
  --secondary-color:#eef2ff;
  --secondary-color-dark: #e0e7ff;
}

.sc-button {
  font-family: var(--font-family);
  font-weight: 600;  
  font-size: 0.8125rem;
  padding: 10px 20px 10px 20px;
  background: var(--secondary-color);
  color: var(--primary-color);
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.sc-button:hover {
  background: var(--secondary-color-dark);
}
