@font-face {
  font-family: "Inter";
  src: url("https://cdn.jsdelivr.net/npm/@fontsource/inter@5.1.0/files/inter-latin-400-normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-family: "Inter", sans-serif;
  --primary-color: #4f46e5;
}

input[type="text"] {
  font-family: var(--font-family);
  width: calc(100% - 24px);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 6px 12px 6px 12px;
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  border-width: 0px;
  outline-color: #d1d5db;
  outline-offset: -1px;
  outline-style: solid;
  outline-width: 1px;
}

input[type="text"]:focus {
  outline-color: var(--primary-color);
  outline-offset: -2px;
  outline-style: solid;
  outline-width: 2px;
}
